<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Attendance-Mapper">

	<update id="insertAttendanceWork" parameterType="attendance">
		insert into
		attendance(attendanceCode, attendanceWork, attendanceLeave, mno)
		values(#{attendanceCode},#{attendanceWork}, #{attendanceLeave}, #{mno})
	</update>
	
	<update id="insertAttendanceLeave" parameterType="attendance">
		update attendance
		set
		attendanceWork=#{attendanceWork}, mno=#{mno}
		attendanceLeave=sysdate
		where attendanceCode=#{attendanceCode}
	</update>
	
	<select id="selectSearchAttendanceList" resultType="attendance">
		select
		*
		from attendance
		where attendanceCode is not null
		order by attendanceCode desc
	</select>
	
</mapper>