<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Off-Mapper">

	<sql id="dateSearch">
			<if test="searchDate == 'r'.toString() ">
				and regdate between #{dateCri.ymdStartDate} and #{dateCri.ymdEndDate}
			</if>
			<if test="searchDate == 'o'.toString() ">
				and startdate and enddate between #{dateCri.ymdStartDate} and #{dateCri.ymdEndDate}
			</if>
	</sql>

	<select id="selectSearchOffList" resultType="off"> <!-- 휴가내역 -->
		select *
		from off
		where offNum is not null and mno=#{mno}
		<include refid="dateSearch" />
		order by regDate desc
	</select>
	
	<select id="insertOff" parameterType="off">
		insert into
		off(offNum, mno, startDate, endDate)
		value=(#{offNum},#{mno},#{startDate},#{endDate})
	</select>
	
	<select id="deleteOff" parameterType="int">
		delete
		from off
		where offNum=#{offNum}
	</select>
	
</mapper>