<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Todo-Mapper">

	<sql id="search">
		<if test="searchType == 't'.toString() ">
			and tno like '%'||#{keyword}||'%'
		</if>
		<if test="searchType == 'ti'.toString() ">
			and title like '%'||#{keyword}||'%'
		</if>
		<if test="searchType == 'c'.toString() ">
			and content like '%'||#{keyword}||'%'
		</if>
		<if test="searchType == 'com'.toString() ">
			and com like '%'||#{keyword}||'%'
		</if>
		<if test="searchType == 'i'.toString() ">
			and imp like '%'||#{keyword}||'%'
		</if>
		<if test="searchType == 'w'.toString() ">
			and writer like '%'||#{keyword}||'%'
		</if>
	</sql>
	<sql id="dateSearch">
		<if test="searchDate == 'r'.toString() ">
			and regDate between #{dateCri.ymdStartDate} and #{dateCri.ymdEndDate}
		</if>
		<if test="searchDate == 's'.toString() ">
			and toDoDate between #{dateCri.hyphenStartDate} and #{dateCri.hyphenEndDate}
		</if>
	</sql>
	
	<select id="selectSearchTodoList" resultType="todo">
		select
		*
		from todo
		where tno is not null
		<include refid="search" />
		<include refid="dateSearch" />
		order by tno desc
	</select>

	<select id="selectSearchTodoListCount" resultType="int">
		select count(*)
		from todo
		where tno is not null
		<include refid="search" />
		<include refid="dateSearch" />
	</select>
	<select id="selectTodoByTNO" parameterType="int"
		resultType="todo">
		select
		*
		from todo
		where tno=#{tno}
	</select>
	<select id="selectTodoSequenceNextValue" resultType="int">
		select
		todo_seq.nextVal
		from dual
	</select>

	<update id="insertTodo" parameterType="todo">
		insert into
		todo(tno,title, content, com, imp, toDoDate,regDate,writer)
		values(#{tno},#{title},#{content},#{com},#{imp},#{toDoDate},
		#{regDate}, #{writer})
	</update>

	<update id="updateTodo" parameterType="todo">
		update todo
		set
		title=#{title},content=#{content},com=#{com},imp=#{imp},toDoDate=#{toDoDate},
		regDate=#{regDate},writer=#{writer}

		where tno=#{tno}
	</update>

	<update id="deleteTodo" parameterType="int">
		delete
		from todo
		where
		tno=#{tno}
	</update>




</mapper>